* {
	margin: 0;
	font-size: 0;
	box-sizing: border-box;
	overflow: hidden;
}

.main-cont {
	background-color: #37474F;
	position: relative;
	height: 100vh;
	width: 100vw;
}

.header{
	width: 100%;
	height: 20%;
	border: solid 2px green;
	display: block;
}

.player1-stats{
	height: 100%;
	width: 20%;
	border: solid 2px blue;
	display: inline-block;
}

.checkers-cont {
	height: 100%;
	width: 100%;
}

.player2-stats{
	height: 100%;
	width: 20%;
	border: solid 2px blue;
	display: inline-block;
}

.gameboard {
	background-color: black;
	position: relative;
	height: 100%;
	width: 100%;
}


.board-square {
	position: relative;
	height: 12.5%;
	width: 12.5%;
	display: inline-block;
}

.red-square {
	background-color: #0097A7;
	/*border: 1px solid yellow;*/
}
.black-square {
	background-color: #424242;
	/*border: 1px solid yellow;*/
}

.play-checker-tile {
	position: absolute;
	border-radius: 60%;
	height: 80%;
	width: 80%;
	left: 10%;
	top: 10%;
}
.red-checker{
	background-image: url(images/andy.png);
	background-size: 100%;
	border: 3px solid white;
}
.black-checker{
	background-color: gray;
	border: 3px solid white;	
}
.highlight {
	border: 3px solid pink;
}

.game-area {
	display: flex;
	width: 100%;
	height: 80%;
	justify-content: space-around;

}