* {
	margin: 0px;
	font-size: 0px;
	box-sizing: border-box;
}

.main-cont {
	background-color: gray;
	position: relative;
	height: 100vh;
	width: 100vw;
}
.checkers-cont {
	position: relative;
	height: 85%;
	width: 80%;
	left: 10%;
	top: 7.5%;
}
.gameboard {
	background-color: black;
	position: relative;
	height: 100%;
	width: 100%;
	
}
.board-square {
	position: relative;
	height: 12.5%;
	width: 12.5%;
	display: inline-block;
}

.red-square {
	background-color: red;
	border: 1px solid yellow;
}
.black-square {
	background-color: black;
	border: 1px solid yellow;
}

.play-checker-tile {
	position: absolute;
	border-radius: 60%;
	height: 80%;
	width: 80%;
	left: 10%;
	top: 10%;
}
.red-checker{
	background-color: red;
	border: 3px solid white;
	
}
.black-checker{
	background-color: gray;
	border: 3px solid white;
	
}