* {
	margin: 0;
	font-size: 0;
	box-sizing: border-box;
	overflow: hidden;
}

.main-cont {
	background-color: #37474F;
	position: relative;
	height: 100vh;
	width: 100vw;
}

.header {
	width: 100%;
	height: 20%;
	display: flex;
	justify-content: space-evenly;
	background-image: url("images/woodbackground.jpeg");
}

.header-cont {
	height: 100%;
	width: 90%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.title-left-cont {
	height: 80%;
	width: 30%;
	display: flex;
	justify-content: flex-end;
	align-items: flex-start;
}

.logo {
	width: 15%;
	text-align: center;
}

.logo img {
	width: 70%;
	margin-top: 5%;
}


.title-text {
	font-family: 'Alegreya Sans SC', sans-serif;
	font-size: 12vh;
	color: #37474F;
	text-align: center;
}

.z-color {
	color: #29B6F6;
	font-size: 10vh;
}

.player-cont {
	position: relative;
	height: 100%;
	width: 20%;
	display: inline-block;
}

.player-image-cont {
	width: 100%;
	height: 35%;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

/* .player1-image {
	background-image: url(images/whitePiece.png);
	background-repeat: no-repeat;
	background-size: 100%;
	width: 80%;
	height: 90%;
	border: solid 5px red;
	border-radius: 50%;
}

.player2-image {
	background-image: url(images/cody.jpg);
	background-repeat: no-repeat;
	background-size: 100%;
	border: solid 5px green;
	width: 80%;
	height: 90%;
	border-radius: 50%;
} */

.player-title-cont {
	width: 100%;
	height: 10%;
}

.player-score-cont {
	width: 100%;
	height: 10%;
}

.player-stats-text {
	font-family: 'Alegreya Sans SC', sans-serif;
	font-size: 4vh;
	color: white;
	text-align: center;
	margin-top: 4%;
}

.player2-text {
	color: green;
}

.player1-text{
	color: red;
}

#player1score,
#player2score {
	font-size: 4vh;
	color: white;
}

.win-cont {
	width: 100%;
	height: 10%;
}

#player1win,
#player2win {
	font-size: 5vh;
	color: #4DB6AC;
}

.button-cont {
	position: relative;
	width: 100%;
	height: 10%;
	top: 24%;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}

.reset-button {
	height: 75%;
	width: 50%;
	background-color: #4DB6AC;
	color: white;
	font-size: 3vh;
	font-family: 'Alegreya Sans SC', sans-serif;
}

.checkers-cont {
	height: 100%;
	width: 50%;
}

.gameboard {
	background-color: black;
	position: relative;
	height: 100%;
	width: 100%;
}


.board-square {
	position: relative;
	height: 12.5%;
	width: 12.5%;
	display: inline-block;
}

.red-square {
	background-color: #E5D0BA;
}

.black-square {
	background-color: #424242;
}

.play-checker-tile {
	position: absolute;
	border-radius: 60%;
	height: 80%;
	width: 80%;
	left: 10%;
	top: 10%;
}

.red-checker {
	background-image: url(images/whitePiece.png);
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
}

.redking {
	background-image: url(images/whitePieceKing.png);
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
}

.black-checker {
	background-image: url(images/blackPiece.png);
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
}

.blackking {
	background-image: url(images/blackPieceKing.png);
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
}

.highlight {
	border: solid 2px #4DB6AC;
}

.game-area {
	display: flex;
	justify-content: space-around;
	width: 100%;
	height: 75%;
	margin-top: 2%;
}

.highlight2 {
	border: 3px solid green;
}